/* layout */

body {
    background: url('imagens/capa.png'), url('imagens/ruido.png'), linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /* esconde a barra de rolagem horizontal */
}

html, body, .capa {
    height: 100%;
}

/* barra de navegacao */

.img-logo {
    height: 40px;
    width: 132px;
    display: block; /* como o span é inline, height e width não fariam efeito; por isso colocamos block */
    background: url('imagens/spotify.svg') no-repeat; /* no-repeat serve para a imagem não se repetir caso ache espaço suficiente */
    background-size: contain; /* serve para definir o tamanho de uma imagem de fundo; o contain quer dizer que o background-size será igual aos valores da div (40px e 132px no exemplo) */
    color: transparent; /* texto é mantido apenas por motivos de acessibilidade, mas invisível aos usuários comuns */
}

nav.navbar-transparente { /* aqui, colocamos o ponto sem espaço pois estamos formatando a classe nav-bar transparente apenas nos elementos nav */
    background: rgba(52, 58, 64, 0.6);
    padding: 15px 0px; /* aumenta um pouco o tamano do menu */
}

.navbar .navbar-nav .nav-item>a { /* hierarquia das classes; o sinal de maior significa que vai formatar os elementos a que são filhos diretos do elemento das classes ".navbar .navbar-nav .nav-item", seguindo a hierarquia esse elemento seria um li (basta olhar o código HTML) */
    color: white;
}

.navbar .navbar-nav .nav-item>a:hover {
    color: #9bf0e1;
}

/* capa */

.capa {
    display: table; /* útil para centralizar verticalmente */
    width: 100%; /* como o display table ocupa o espaço apenas onde tem conteúdo (semelhante ao display inline), preenchemos o espaço vazio definindo a largura como 100% */
}

.texto-capa {
    text-align: center; /* centraliza horizontalmente */
    color: white;
    display: table-cell; /* útil para centralizar verticalmente; como essa div tá dentro da div "capa" o display é table-cell; a div principal é a que recebe display table */
    vertical-align: middle; /* útil para centralizar verticalmente */
}

/* Botões */

.btn-custom {
    color: white;
    border-radius:500px;
    -webkit-border-radius: 500px; /* navegadores antigos */
    -moz-border-radius: 500px; /* navegadores antigos */
    padding: 10px 35px;
    margin: 0px 15px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

.btn-roxo {
    background: #7c25f8;
}

.btn-roxo:hover {
    background: #6207e3;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background: white;
    color: black;
}

/* sessao servicos */

#servicos {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.albuns {
    padding: 10px 0;
}

/* sessao recursos */

#recursos {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

#recursos h3 {
    color: #9bf0e1;
}

.rotacionar {
    transform: rotate(30deg); /* rotaciona o elemento em 30 graus */
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 80px;
}

/* tipografia */

h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -0.05em; /* valores negativos juntam mais as letras enquanto valores positivos separam mais*/
    margin-bottom: 50px; /* não deixa os botões tão colados no título principal do site (música para todos) */
}

h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#servicos h2, #servicos h3 {
    color: #7c25f8;
}